/* 這是CSS註解 */
body{background-color: brown;text-align: center;}
/* class選擇器 */
.title {
   color:#2c339e8e;
   font-weight:bold;
   font-size:24px
   }
.content{
   color: salmon;border:1px dashed blue;
   padding: 10px;margin-top: 10px
   }
.keyword {
   color :brown
   }
.underline{text-decoration-line: underline}